@import "src/app/app.component.scss";
// socialInstitucional Component
.institucional {
	//background-color: $color-white;
	background-image: url(/assets/images/fondo123_section.png);

	
	

	p {		
		font-family: DINNextRoundedLTPro-Light !important;		
		font-size: 18px !important;
		line-height: 2.0rem;
		text-align: justify;
		margin-bottom: 3rem;
		margin-top: 3rem;
		color: #4D4D4D !important;		
	}

	
}


