@import "src/app/app.component.scss";
// socialInstitucional Component
.institucional {
	//background-color: $color-white;
	background-image: url(/assets/images/fondo123_section.png);
	margin-left: auto;
		margin-right: auto;
		text-align: center;
	
	

	p {		
		font-family: DINNextRoundedLTPro-Light !important;		
		font-size: 18px !important;
		line-height: 1.5rem !important;
		text-align: justify !important;
		//margin-bottom: 3rem !important;
		margin-top: 2rem !important;
		color: #4D4D4D !important;
		margin-bottom: 0rem !important;		
	}

	.cent{
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	
}


