<footer  >
    <div   class="footer row" >

        <div class="col-lg-8 col-md-8  visible-md visible-lg clearfix" ></div>
        <div class="col-lg-2 col-md-2 col-6" style="text-align: right; margin-top: 1.5%;">
          
          <img src="/assets/logo_educacion_ba.png" class="d-inline-block  img-fluid " alt="logo-ba">
           
        </div>
        <div  class="col-lg-2 col-md-2 col-6 img2"  >
        <img  class="d-inline-block img-fluid " alt="" src="/assets/logo-ba.png" alt="logo-ba"> 
      </div>
        
      </div>
    

   
  </footer>