/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "/app/app.component.scss";

@font-face {
	font-family: pacifico-regular;
	src: local('pacifico-regular'),
	url("/assets/fonts/Pacifico-Regular.ttf")
	format("truetype");
}


@font-face {
    font-family:'DIN-Regular';
    src: url('/assets/fonts/DIN-Regular.eot');
	src: url('/assets/fonts/DIN-Regular.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/DIN-Regular.woff2') format('woff2'),
		url('/assets/fonts/DIN-Regular.woff') format('woff'),
		url('/assets/fonts/DIN-Regular.ttf') format('truetype'),
		url('/assets/fonts/DIN-Regular.otf') format('opentype'),
		url('/assets/fonts/DIN-Regular.svg#DIN-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-02DC;
}


@font-face {
	font-family: DINNextRoundedLTPro-Bold;
	src: 
//	local('DINNextRoundedLTPro-Bold'),
	url("/assets/fonts/DIN/DINNextRoundedLTPro-Bold.otf")
	format("OpenType");
}

@font-face {
	font-family: DINNextRoundedLTPro-Light;
	src: 
//	local('DINNextRoundedLTPro-Light'),
	url("/assets/fonts/DIN/DINNextRoundedLTPro-Light.otf")
	format("OpenType");
}
@font-face {
	font-family: DINNextRoundedLTPro-Medium;
	src: 
	//local('DINNextRoundedLTPro-Medium'),
	url("/assets/fonts/DIN/DINNextRoundedLTPro-Medium.ttf")
	format("truetype"),
	url("/assets/fonts/DIN/DINNextRoundedLTPro-Medium.otf")
	format("OpenType");
}

@font-face {
	font-family: DINNextRoundedLTPro-Regular;
	src: 
//	local('DINNextRoundedLTPro-Regular'),
	url("/assets/fonts/DIN/DINNextRoundedLTPro-Regular.otf") format("OpenType"), 
	//local('DINNextRoundedLTPro-Regular'),
	url("/assets/fonts/DIN/DINNextRoundedLTPro-Regular.ttf")
	format("truetype");
}

